In [5]:
#1)
#Write a Python program which accepts the radius of a circle from the user
#and compute the area.
#Sample input: Enter the radius: 3
#Sample output: Area of Circle is 28.59999999999
radius=float(input("Enter the radius :"))
Pi=3.14
Area=float(Pi*radius*radius)
print("Area of Circle is",Area)

Enter the radius :3
Area of Circle is 28.259999999999998

In [7]:
#2)
#Write a Python Program to accept the details of a student like name, roll
#number and mark and display it.
#Sample input: Enter the name: Anisha
#Enter the roll number: 21
##Enter the mark: 78
#Sample output: Name: Anisha
#Roll No: 21
#Mark: 78
nme=input("Enter the name:")
rno=input("Enter the roll number:")
marks=input("Enter the mark:")
print(f"Name :{nme}\nRoll No:{rno}\nMark :{marks}")

Enter the name:Parvathy
Enter the roll number:510
Enter the mark:80
Name :Parvathy
Roll No:510
Mark :80

In [8]:
#3)
#Write a Python program to get the largest number from a list.
#Sample input: 12, 3, 47, 10
#Sample output: 47 is the largest number.

my_list=[12, 3, 47, 10]
my_list.sort()
Large=my_list[-1]
print(Large,"is the largest number")

47 is the largest number

In [9]:
#4)
#Given a range of first 10 numbers, write a Python program to iterate from
#start number to the end number and print the sum of the current number
#and previous number.
#Sample input: 1….10
#Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
#Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
#Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

for c in range(1,10):
  sum=c+c-1
  print(f"Current Number {c} Previous Number {c-1} Sum:{sum}")

Current Number 1 Previous Number 0 Sum:1
Current Number 2 Previous Number 1 Sum:3
Current Number 3 Previous Number 2 Sum:5
Current Number 4 Previous Number 3 Sum:7
Current Number 5 Previous Number 4 Sum:9
Current Number 6 Previous Number 5 Sum:11
Current Number 7 Previous Number 6 Sum:13
Current Number 8 Previous Number 7 Sum:15
Current Number 9 Previous Number 8 Sum:17

In [10]:
#5)
#Write a Python program to print only those numbers which are divisible
#of 5.
#Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55
demolist = []
mylist=[10, 20,33,46,55]
for i in mylist:
  if i % 5==0:
    demolist.append(i)

print(demolist)

[10, 20, 55]

In [11]:
#6)
# Write a Python program to check whether a number is prime or not.

n1=int(input("Enter the number:"))
if n1 > 1:
    for i in range(2, int(n1/2)+1):
        if (n1 % i) == 0:
            print(n1, "is not a prime number")
            break
    else:
        print(n1, "is a prime number")
else:
    print(n1, "is not a prime number")

Enter the number:3
3 is a prime number

In [16]:
#7)
# Write a Python program to reverse a list using for loop
ori_list = [10,40,30,70 ]
rev_list=[]
for i in ori_list:
  rev_list= [i] + rev_list
print(rev_list)

[70, 30, 40, 10]

In [19]:
#8)
#Write a Python program to print the following pattern
n=6
for i in range(0, n):
  for j in range(0,i+1):
    print("* ", end="")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [20]:
#9)
#Write a Python program to find the maximum of three numbers

def bigger(a, b, c):
  if (a >= b) and (a >= c):
        largest = a

  elif (b >= a) and (b >= c):
        largest = b
  else:
        largest = c
  return largest
print(bigger(34,12,7))

34

In [21]:
#10)
#Write a Python program to construct the following pattern, using a
#nested for loop.

n=5
for i in range(0, n):
  for j in range(0,i+1):
    print("* ", end="")
  print()
for i in range(n, 0,-1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Practice problem set 2

In [33]:
#1)
#Write a Python program to accept a string value from the user and display
#the count of each character in that string.
st=input("Enter a string value:")
set1={}
for i in st:
  if i in set1:
    set1[i]+=1
  else:
    set1[i] = 1

print(set1)

Enter a string value:assembly Sample output
{'a': 2, 's': 2, 'e': 2, 'm': 2, 'b': 1, 'l': 2, 'y': 1, ' ': 2, 'S': 1, 'p': 2, 'o': 1, 'u': 2, 't': 2}

In [96]:
#2)
#Write a Python function that takes a positive integer and returns the sum
#of the cube of all the positive integers smaller than the specified number
n=int(input("Enter the a positive integer :"))
k=0
for i in range(n):
  if i > 0:
    k+=i*i*i
print(k)

Enter the a positive integer :4
36

In [95]:
#3)
#Write a Python function called exponent(base,exp) that returns an
#integer value of base raises to the power of exp
bse=int(input("Enter the base:"))
ex=int(input("Enter the exponent:"))
value=0
def exponent(bse,ex):
  value=bse**ex
  return value
exponent(bse,ex)

Enter the base:3
Enter the exponent:4

81

In [94]:
2#4)
#Write a Python function that takes a positive integer and returns the sum
#of the cube of all the positive integers smaller than the specified number

def sum_cube(n):
    n1=int(input("Enter the a positive integer :"))
    result = 0
    if n1 > 0:
        for i in range(n1):
            result += i * i * i
        return result
sum_cube(n)

Enter the a positive integer :3

9

In [47]:
#5)
#Write a Python program which iterates from 1 to 10. For multiples of 2,
#print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
#For numbers which are multiples of both 2 and 5, print “FizzBuzz”.

for i in range(1,11):
  if i % 2==0 and i % 5 ==0:
    print("FizzBuzz")
  elif i % 2==0:
    print("Fizz")
  elif i % 5 ==0:
    print("Buzz")
  else:
      print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [62]:
#6)
#Write a Python program to find the most frequent item in a list of
#numbers.
List = [3, 1, 3, 2, 3, 3]
def frequent(my_List):
    no = 0
    for i in my_List:
        now_freq = my_List.count(i)
        if(now_freq> no):
            no= now_freq
            num = i

    return num
print(frequent(List))

3

In [63]:
#7)
#Write a Python program to find the sum of squares of the numbers in a
#list.
my_list=[2,1,3,1]
k=0
for i in my_list:
  k+=i*i
print(k)

15

In [64]:
#8)
#Write a Python program using for loop that will iterate from 1 to 15. For
#each iteration, check if the current number is odd or even, and display the
#message to the screen as odd or even.
for i in range(1,16):
  if i% 2==0:
    print(f"{i} even")
  else:
    print(f"{i} odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

In [71]:
#9)
#Write a Python program to convert temperatures to and from Celsius
#Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
#temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
#=41 Sample output: Temperature in Celsius =5
c=float(input("Enter the temperature in Fahrenheit :"))
cel=(c-32) * 5 / 9
print("Temperature in Celsius :",cel)

Enter the temperature in Fahrenheit :41
Temperature in Celsius : 5.0

In [102]:
#10)
#Write a Python function to calculate the factorial of a number (a
#nonnegative integer). The function accepts the number as an argument.
#Sample input: 3 Sample output: 6
def factorial(num):
  fact=1
  if num < 0:
    print("Factorial does not exist")
  elif num == 0:
    print("The factorial of 0 is 1")
  else:
    for i in range(1,num + 1):
       fact = fact*i
    return fact
factorial(3)

6